html {
    box-sizing: border-box;

 }

 *,* ::after, *::before {
    box-sizing:inhertit;
 }

 #maincontainer {
     background-color: tan;
     width: 100%;
     
     
}

img {
    width: 200px;
    height: 300px;
    border: 1px solid black;

    

}

.card {
    background-color: yellow;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    
}
 #carddiv{
     width: 1200px;;
     background-color: lightblue;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     
     
     
 }

#elf1 , #elf2{
      
}



.show {
    visibility: visible;
}

.buttonbox{
    width: 200px;
    height: 400px;
}

.front {
    
}
.back {
    
}