* {
    padding:10px;
    margin:10px;
    box-sizing: border-box;
 }
 
 body {
    background: url(assets/bg.gif);
    height:100vh;
    display:flex;
 }
 
 img {
    width: 100px;
 }
 
 .memory_game {
    width: 1400px;
    height: 100%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    perspective: 1000px;
 }
 
 .memory_card {
    height:250px;
    width:200px;
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
 }
 
 .memory_card:active {
    transform: scale(.97);
    transition: transform .2s;
 
 }
 
 .memory_card.flip {
    transform: rotateY(180deg);
 }
 
 .front,
 .back {
    width: 100%;
    height: 100%;
    padding: 1px;
    position:absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    border: 1px solid lightgrey;
    background: white;
    z-index: 0;
 }
 
 .front {
    transform: rotateY(180deg);
 }

 #livesdiv {
   font-size: 100px;
   width:150px;
   height:150px;
   text-align: center;
   background-color: white;
   color: black;
   opacity: 0.8;
   border-radius: 10%;
   position: fixed;
   margin-right: 600px;
   margin-bottom: 200px;
   z-index: 1;
}

 .start {
    width: 1550px;
    height: 850px;
    position: fixed;
    z-index: 3;
    /* background-image: url("assets/carrots.jpg"); */
    background-color: lightblue;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    border-radius: 1%;
   
 }

h2 {
   color: white;
}

 .tenor-gif-embed {
    width: 500px;
    height: 500px;
    margin: auto;
 
 }

 button {
    width: 150px;
    height: 60px;
    background-color: black;
    color: white;

 }

 #maincontainer {
    margin: auto;
    width: 100%;
    height: 100%;
 }