html {
    box-sizing: border-box;

 }

 *,* ::after, *::before {
    box-sizing:inhertit;
 }

 #buttondiv{
     width: 100%;
     height: 1200px;
     background-color: lightblue;
 }

 .card {
  
     width: 200px;
     height: 400px;

 }

 .maincontainer {
     
}
